body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#display {
    font-size: 36px;
    text-align: right;
    width: 260px;
    height: 60px;
    background-color: #222;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 320px;
    width: 100%;
    justify-items: center;
}

button {
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 24px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button p {
    margin: 0;
}

button:hover {
    background-color: #ddd;
}

button:active {
    background-color: #ccc;
}

.number {
    background-color: #f7f7f7;
    color: #333;
}

.number:hover {
    background-color: #e0e0e0;
}

.operation {
    background-color: #ff8c00;
    color: white;
}

.operation:hover {
    background-color: #e77d00;
}

.operation:active {
    background-color: #cc6c00;
}

#borrar {
    background-color: #e74c3c;
    color: white;
}

#borrar:hover {
    background-color: #c0392b;
}

#borrar:active {
    background-color: #a93226;
}

button:focus {
    outline: none;
}

.oculto{
    background-color: #f4f4f4;
}

.oculto:hover{
    background-color: #f4f4f4;
}